<form role="form">
  <div class="form-group">
    <label for="InputName">Name</label>
    <input type="text" class="form-control" value=name placeholder="Enter Name">
  </div>
  <div class="form-group">
    <label for="InputEmail">Email</label>
    <input type="email" class="form-control" value=email placeholder="Enter your Email">
  </div>
  <br>
  <button class="btn btn-default" {{action 'createCar'}}>I have a car</button>
  {{#if car}}
  <div class="form-group">
    <label for="InpurCapacity">Car's Capacity</label>
    <input type="email" class="form-control" value=capacity placeholder="Enter your Car's Capacity in Numbers">
  </div>
  {{/if}}
  <button type="submit" class="btn btn-default" {{action 'save'}}>Submit</button>
</form>

 