<div class="row">
	<br>
	<center>
		<i class="fa fa-cab" style="font-size:350px"></i>

		<br>
		<br>

		<div class="col-sm-12 text-center">
			{{#link-to "users.new" class="btn btn-primary btn-lg col-sm-3 col-sm-offset-1"}}<i class="fa fa-car"></i> I'm Car Owner{{/link-to}}

			{{#link-to "users.new" class="btn btn-primary btn-lg col-sm-3 col-sm-offset-1"}}<i class="fa fa-bicycle"></i> I wanna Ride{{/link-to}}

			{{#link-to "results" class="btn btn-success btn-lg col-sm-2 col-sm-offset-1" }}<i class="fa fa-cab"></i> Current Rides{{/link-to}}
		</div>
	</center>
</div>